/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

.blog-title h4{
font-family: 'Bad Script', cursive;
font-weight:100;
margin:0;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom-left p{
color:#fff;
font-size:14px;
margin:0;
line-height:1.8em;
}
.banner-bottom-left1{
padding:8em 5em 5em;
background:#6B8FA8;
}
.banner-bottom-left2{
padding:0;
}
.globe span{
background: url(../images/img-sp.png) no-repeat 22px -81px;
  display: block;
  width: 128px;
  height: 128px;
  border: 1px solid #3F647D;
  border-radius: 100%;
}
.banner-bottom-left1-grid h3{
margin: 1.5em 0 0;
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}
.banner-bottom-left1-grid h3 span{
font-size: .3em;
  display: block;
  margin-bottom: 1em;
}
.progress1 {
  height: 2px;
  margin-bottom: 0;
  border-radius: 0;
  margin: 1.5em 0 0;
}
.progress-bar1 {
  background: #eb6f63;
}
.banner-bottom-left1-grid p{
margin:2em 0 5em;
color:#fff;
font-size:14px;
line-height:1.8em;
}
.banner-bottom-left2 h3{
padding:2.5em 3em 0;
  font-size: 1.8em;
  color: #212121;
  margin: 0;
  line-height: 1.6em;
  position: relative;
  font-family: 'Open Sans', sans-serif;
font-weight:400;
}
.banner-bottom-left2 h3:before{
background: url(../images/img-sp.png) no-repeat -20px -232px;
  display: block;
  width: 40px;
  height: 40px;
  content: '';
  position: absolute;
  top: 31%;
  left: 5%;
}
/*-- effect --*/
.grid {
position: relative;
clear: both;
margin: 0 auto;
max-width: 1000px;
list-style: none;
text-align: center;
}

/* Common style */
.grid figure {
position: relative;
float: none;
overflow: hidden;
margin: 0;
  min-width: 273px;
max-width: 100%;
max-height: auto;
width: 100%;
height: auto;
background: #3085a3;
text-align: center;
}

.grid figure img {
position: relative;
display: block;
min-height: 100%;
max-width: 100%;
opacity: 0.8;
}

.grid figure figcaption {
padding: 2em;
color: #fff;
text-transform: uppercase;
font-size: 1.25em;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
/***** Lexi *****/
/*---------------*/

figure.effect-lexi {
background: -webkit-linear-gradient(-45deg, #000 0%,#fff 100%);
background: linear-gradient(-45deg, #000 0%,#fff 100%);
}

figure.effect-lexi img {
margin: -10px 0 0 -10px;
max-width: none;
width: -webkit-calc(100% + 10px);
width: calc(100% + 10px);
opacity: 0.9;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(10px,10px,0);
transform: translate3d(10px,10px,0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

figure.effect-lexi figcaption::before,
figure.effect-lexi p {
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
}

figure.effect-lexi figcaption::before {
position: absolute;
  left: -40px;
  bottom: -60px;
  width: 330px;
  height: 330px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 900px rgba(255,255,255,0.2);
  content: '';
  opacity: 0;
  -webkit-transform: scale3d(0.5,0.5,1);
  transform: scale3d(0.5,0.5,1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
figure.effect-lexi figcaption.lexifig::before {
right: -40px;
  left: auto;
}

figure.effect-lexi:hover img {
opacity: 0.6;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}

figure.effect-lexi h4 {
font-size: 1.5em;
  text-transform: capitalize;
  text-align: left;
  padding: .5em 1em;
  background: #fff;
  width: 66%;
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(5px,5px,0);
  transform: translate3d(5px,5px,0);
  color:#222;
}

figure.effect-lexi h4 span {
  color: #000;
}

figure.effect-lexi p {
position: absolute;
  left: 0;
  bottom: 2%;
  padding: 0 0 1.5em 1em;
  width: 250px;
  text-align: left;
  opacity: 0;
  -webkit-transform: translate3d(20px,20px,0);
  transform: translate3d(20px,20px,0);
  font-size: .8em;
  line-height: 1.8em;
}

figure.effect-lexi1 p {
  right: 0;
  padding: 0 1em 1.5em 0 !important;
left: auto;
}

figure.effect-lexi:hover figcaption::before {
opacity: 1;
-webkit-transform: scale3d(1,1,1);
transform: scale3d(1,1,1);
}

figure.effect-lexi:hover h4,
figure.effect-lexi:hover p {
opacity: 1;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}
/*-- //effect --*/
/*-- //banner-bottom --*/
/*-- banner-bottom1 --*/
.banner-bottom-lft1 h3{
font-size: 5em;
  color: #3F5A6D;
  margin: 0;
}
.banner-bottom-left1,.banner-bottom-lft1{
padding:2.17em 4em 4em;
background:#3598dc;
}
.banner-bottom-lft1 h4{
font-size:1.7em;
  color: #fff;
  text-align: right;
  margin: 1em 0 0em;
  font-weight: 400;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif;
}
.progress2 {
  margin:1em 0 0;
}
.banner-bottom-lft1 p{
margin:2.5em 0 0;
color:#E4E4E4;
font-size:14px;
line-height:1.8em;
}
h4.with{
text-align:left;
}
p.exercise{
text-align:right;
}
/*-- //banner-bottom1 --*/
/*-- banner-bottom-slider --*/
.banner-bottom-slider,.gallery,.services,.about,.testimonials,.history,.typo,.contact,.single{
padding:5em 0;
}
.banner-bottom-slider-left h3{
font-size: 1.3em;
  color:#222;
margin:0;
line-height:1.5em;
}
.banner-bottom-slider-left h3 span{
display: block;
  font-size: 1.5em;
  color: #eb6f63;
  font-weight: 600;
  margin: .3em 0 0.5em;
  font-family: 'Open Sans', sans-serif;
}
.banner-bottom-slider-left p{
margin:0;
line-height:1.8em;
color:#999;
font-size:14px;
}
.banner-bottom-slider-right1 ul{
padding:.7em .5em; 
background:#3598DC;
}
.banner-bottom-slider-right1 ul li{
display: inline-block;
  margin: 0;
  margin-left: 1.3em;
  float: none;
}
.banner-bottom-slider-right1 ul li a{
font-size:1em;
color:#fff;
text-decoration:none;
}
.banner-bottom-slider-right1 ul li a:hover{
color:#212121;
}
.banner-bottom-slider-right1 p{
margin:1em 0 0;
color:#999;
font-size:14px;
line-height:1.8em;
text-transform: capitalize;
}
.banner-bottom-slider-right1 p span{
font-size:1.5em;
}
.banner-bottom-slider-right1{
padding-left:.5em;
}
.banner-bottom-slider-right {
  padding-right: 0;
}


/*-- services --*/
.services-grid{
position:relative;
}
.blog-figure {
  position: relative;
  overflow: hidden;
}
.blog-discription{
-webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-discription {
  text-align: center;
  position: absolute;
  bottom: 0;
  opacity: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.80);
  color: #fff;
}
.theme-border {
  height: 100%;
  width: 100%;
  border: 2px;
  border: 1px solid rgba(255,255,255,.5);
  position: relative;
}
.tg-display-table {
  width: 100%;
  height: 100%;
  display: table;
}
.tg-display-table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.blog-title {
  padding:2em 1em;
}
.blog-figure h4{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.blog-title h4 {
  font-weight: bold;
  color: #fff;
  position: relative;
  right:0%;
font-size: 1.5em;
}
.blog-title h4 a{
color:#fff;
}
.blog-title h4:before {
  background: #fff;
  content: "";
  position: absolute;
  margin: 0 0 0 -21px;
  width: 40px;
  left: 50%;
  bottom: -5px;
  height: 1px;
}
.blog-title h4 a {
  color: #fff;
}
.blog-figure .blod-meta {
  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}
.blod-meta {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  position: relative;
  right: 120%;
  padding: 0 0 10px;
  margin:1em 0;
}
.blod-meta::before {
  content: "";
  position: absolute;
  margin: 0 0 0 -27px;
  width: 40px;
  background: #b3b3b3;
  left:47%;
  bottom: 0;
  height: 1px;
}
.blod-meta li {
  float: left;
font-size: 13px;
}
.blod-meta li a{
color:#fff;
}
.blod-meta li:first-child::before {
  content: "";
  margin: 0;
}
.blod-meta li::before {
  content: "|";
  margin: 0 10px;
}
.blog-title p {
  color: #fff;
  margin: 0;
  position: relative;
  right: 120%;
font-size: 13px;
  line-height: 1.8em;
}
.blog-figure p {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.blog-figure:hover .blog-discription {
  opacity: 1;
}
.blog-figure:hover h3, .blog-figure:hover .blod-meta, .blog-figure:hover p {
  right: 0;
}
.services-grid h5 a{
margin:1em 0 2em;
color:#999;
font-size:1.8em;
line-height:1.5em;
display:block;
text-decoration:none;
}
.services-grid h5 a:hover{
color:#6B8FA8;
}
.offered-services-grid1{
text-align:right;
}
.panel-title{
text-transform: capitalize;
  font-size: 1.4em;
  color: #999;
  margin: 0 0 1em;
  line-height: 1.5em;
  background: url(../images/1.png) no-repeat 310px 4px;
  padding-right: 3em;
}
.panel-title a{
color:#222;
text-decoration: none;
}
.panel-title a:hover{
color:#3598DC;
}
.offered-services{
padding:5em 0 0;
}
.panel-heading p{
margin:1em 0;
color:#999;
font-size:14px;
line-height:1.8em;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-default:nth-child(2){
padding:2em 0;
margin:2em 0 !important;
border-top:1px solid #999;
border-bottom:1px solid #999;
}
.panel {
  border-radius: 0;
}
.panel-default > .panel-heading {
  color: #333;
  background: none;
  border: none;
}
.panel-heading {
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-default {
  border: none;
}
.panel {
  -webkit-box-shadow:none;
  box-shadow: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: transparent;
  box-shadow: 0px 0px 3px #D8D8D8;
font-size: 14px;
  line-height: 1.8em;
color: #EB6F63;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
  text-align: right;
}
.panel1{
text-align:left !important;
}
.panel-title1{
padding-left:3em !important;
padding-right:0 !important;
background: url(../images/1.png) no-repeat 0 1px;
}
/*-- //services --*/
/*-- about ---*/
.about-grid {
  text-align: center;
}
.about-grid img{
  margin:0 auto;
}
.about-grid-pos{
padding:1em;
background:#EAEAEA;
width:80%;
margin:0 auto;
position:relative;
}
.about-grid-pos:after{
background: url(../images/2.png) no-repeat -0px 0px;
  background-size: 93%;
  display: block;
  width: 1054px;
  height: 23px;
  content: '';
  position: absolute;
  bottom: -18%;
  left: -5%;
}
.about-grid-pos p{
text-transform:capitalize;
font-size:2em;
color:#999;
margin:0;
line-height:1.5em;
}
.about-grid-pos p span{
color:#3598DC;
}
.about-grid1-grids{
margin:5em 0 0;
}
.about-grid1-grids p,.history-left p{
margin: 0em 0 3em;
  color: #999;
  font-size: 14px;
  line-height: 1.8em;
  padding-left: 2em;
}
.about-grid1-grids h3,.history-left h3,.contact-left1 h3,.mail h3,.contact-right h3{
font-size: 2em;
  color:#EB6F63;
  margin:0;
  line-height: 1.5em;
  padding-left:0.8em;
  position: relative;
}
.about-grid1-grids h3:before,.history-left h3:before,.contact-right h3:before,.contact-left1 h3:before,.mail h3:before{
background:#3598DC;
  width: 4px;
  height: 41px;
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
}
.pro {
  height: 3px;
  margin: 0;
background:#fff;
}
.pro1{
padding:.5em;
background:#E2E2E2;
float:left;
width:85%;
}
.pro2{
float:right;
width:15%;
}
.pro2 p{
font-size:1em;
color:#999;
margin:0;
text-align: right;
}
.pro-bar {
  background: #EB6F63;
}
.about-grid1:nth-child(2){
margin:2em 0;
}
.testimonials-grid1{
padding:.5em;
background:#D2D0D0;
text-align:center;
}
.history-left h2{
  font-size: 1.7em;
  color: #999;
  margin: 0 auto;
  line-height: 1.7em;
  font-family: cursive;
}

@media (min-width: 1920px) {
  .history-left h2 {
    font-size: 1.7em;
    color: #999;
    margin: 0 auto;
    line-height: 1.7em;
    font-family: cursive;
  }
}

@media (min-width: 1024px) {
  .history-left h2 {
    font-size: 1.7em;
    color: #999;
    margin: 0 auto;
    line-height: 1.7em;
    font-family: cursive;
  }
}

@media (min-width: 768px) {
  .history-left h2 {
    font-size: 1.7em;
    color: #999;
    margin: 0 auto;
    line-height: 1.7em;
    font-family: cursive;
  }
}

@media (min-width: 480px) {
  .history-left h2 {
    font-size: 1.7em;
    color: #999;
    margin: 0 auto;
    line-height: 1.7em;
    font-family: cursive;
  }
}

@media (min-width: 320px) {
  .history-left h2 {
    font-size: 1.7em;
    color: #999;
    margin: 0 auto;
    line-height: 1.7em;
    font-family: cursive;
  }
}
