@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.block{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (min-width: 1920px) {
  .center video {
    display: block;
    margin: 0 auto;
    width: 65%;
  }
}

/* Normal desktop :992px. */
@media (min-width: 992px) {
  .center video {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .center video {
    display: block;
    margin: 0 auto;
    width: 75%;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .center video {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .center video {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .center video {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none
}